/* Joe Vaughn
style.css
4/30/2019
*/

/* Fonts */

@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body {
	font-family: Ubuntu;
	font-size: 16px;
	background-color: white;
}
header {
	padding: .4em;
	margin: .4em;
}

h1 {
	font-family: "Roboto Slab";
	font-size: 2.2em;
	line-height: 1.2em;
	padding-bottom: .5em;
	text-shadow: 1px 1px;
	font-kerning: auto;
}

#tagline {
	font-size: 1.5em;
	font-family: Ubuntu;
	font-weight: 500;
	line-height: 1.3em;
	font-style: italic;
}




nav {
	background-color: rgb(255, 0, 0); 
	line-height: 2em;
	margin-bottom:.5em;
	margin-left: .1em;
	width: 99%;
	border-radius: 10px;
}

nav li {
	padding-right: .8em;
	padding-left: .3em;
	font-size: 1.3em;
	font-weight: 600;
	line-height: 1.5em;
	display: inline;
	text-decoration: none;
	color: black;
}

nav a {
	color: black;
	text-decoration: none;
}

nav a:hover {
	font-size: 1.1em;
	transition: .5s;
}

main {
	margin: .5em;
	padding: .5em;
}


aside {
	margin: 1em .5em;
	padding: 1em .5em;;
}

h2 {
	font-size: 1.9em;
	font-family: Roboto;
}

/* Weather Feed 

*/
#weather-feed {
	margin-bottom: .2em;
	font-size: 1.1em;
	float: right;
	line-height: 1.1em;
}
.well {
	padding: .25em;
	margin: .25em;
}



/*  SOCIAL ICONS */

/* container */

#share {
	width: 100%;
	height: auto;
	align-content: center;
}

/* buttons */

button {
	display: inline-block;
	border-radius: 10px;
	line-height: 1.7em;
	font-size: 1.25em;
	font-weight: 400;
	padding: .17em .1em;
	font-kerning: auto;
	margin: .4em .7em;
	background-color: rgb(255, 0, 0);
	color: black;
}

button:hover {
	opacity: .9;
	font-size: 1.3em;
}

#share a {
	width: 2.7em;
  height: auto;
  display: inline-block;
	margin: .2em .5em;
	padding: 0;
  border-radius: 10px;
  font-size: 1.8em;
  color: #fff;
  opacity: 0.75;
	transition: opacity 0.15s linear;
}

#share a:hover {
	opacity: .9;
	font-size: 1.85em;
}
/* icons */

#share i {
    position: relative;
    margin: .35em;
    padding: .2em .7em;
}



/* images and graphics */

.facebook {
    background: #3b5998;
}

.twitter {
		 background: #55acee;
}

article {
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 1em 0;
}


#mobile-image {
	max-width: 100%;
	height: auto;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-bottom: 1em;
	padding-top: 1em;

}

img {
	max-width: 100%;
	height: auto;
  }

#mobile-image {
	width: 100vh;
	height: auto;
	padding-top: 1em;
	padding-bottom: 1em; 
	margin-top: 1em;
	margin-bottom: 1em;
}

#image-slideshow { 
	display: none;

}

footer {
	background-color: rgb(255, 0, 0);
	line-height: 1.7em;
	font-size: 1.5em;
	margin-bottom: 1em;
	margin-top: 1em; 
	margin-left: .1em;
	color: black;
	width: 99%;
	font-weight: 600;
	border-radius: 5px;
	align-content: center;
}


@media screen and (min-width: 768px) {
	h1 {
		font-size: 2.5em;
		padding-left: 1em;
	}
	#tagline {
		font-size: 2em;
		padding-left: 2.5em;
	}
	nav {
		line-height: 1.8em;
		margin-bottom: .7em;
		margin-left: .3em;
	}

	nav li {
		padding-right: .5em;
		padding-left: .3em;
		font-size: 1.5em;
		line-height: 1.45em;
	}
	article {
		margin: 2em 1em;
	}
	aside {
		float: left;
		margin: .2em 1em 1em .5em;
		padding: .2em 1em 1em .4em;
		padding-bottom: 2em;
	}
	#weather-feed {
		float: none;
		font-size: 1.2em;
	}
	#share a {
		display: block;
	}
	button {
		display: block;
	}
	#mobile-image {
		display: none;
	}
	#image-slideshow {
		display: block;
		padding: 2em 4em;
		margin: 1em 2em 2em 15em;/* Only for template purposes CHANGE FOR LIVE SITE */
	}

	.picHolder {
    width: 60%;
    height: auto;
    overflow: hidden;
    position: relative;
	}
	.picHolder img {
   /* top: 0;
    left: 0;
    width: 341px;
    z-index: 8;*/
	}
	.picHolder img.active {
    z-index: 10;
	}
	.picHolder img.last-active {
    z-index: 9;
	}
	footer {
		margin-left: .3em;
	}

}	

@media screen and (min-width: 1024px) {
	h1 {
		font-size: 2.7em;
		padding-left: 1.1em;
	}
	#tagline {
		font-size: 2.5em;
		padding-left: 2.6em;
		padding-bottom: 1em;
	}
	nav {
		margin-left: .4em;
	}
	nav ul {
		padding-left: 1.5em;   
	}
	nav li {
		padding-right: .7em;
		padding-left: .7em;
		font-size: 1.8em;
		line-height: 1.45em;
	}
}

@media screen and (max-width: 360px) {
	#tagline {
		font-size: 1.3em;
	}
}	